<span class="traffic-lights" aria-hidden="true">
  <span class="traffic-light traffic-light-red"></span>
  <span class="traffic-light traffic-light-yellow"></span>
  <span class="traffic-light traffic-light-green"></span>
</span>
